<h2> Dashboard </h2>

<ul>
  <li> Sell New Prodcuts <%= link_to '-> ir', new_product_path %> </li>
  <li> Buy Products <%= link_to '-> ir', products_path %> </li>
  <li> Sold Products </li>
  <li> Link Purchased Products (List of product on purchased status of mine) </li>
</ul>
